<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ylk="https://github.com/yanglikun/schema/custom"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       https://github.com/yanglikun/schema/custom https://github.com/yanglikun/schema/custom/custom-1.0.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:spring.properties</value>
            </list>
        </property>
    </bean>


    <ylk:dateformat id="ylkDateFormat" pattern="${date.format}"/>

    <ylk:person id="personId" userName="yanlgikun" age="10"/>

    <ylk:component id="customComponent" name="a">
        <ylk:component name="a-1">
            <ylk:component name="a-1-1"/>
            <ylk:component name="a-1-2"/>
        </ylk:component>
        <ylk:component name="a-2"/>
    </ylk:component>

    <bean id="customAttr" class="java.lang.String" ylk:cache-name="cacheName">
        <constructor-arg value="abcd"/>
    </bean>


</beans>